.chat-conversation-box {
  max-height: 100% !important;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of items */
}

.chat-box{
  // height: 100vh !important;
}

// #content {
//   margin-top: 0px !important;
// }

.user-list-box {
  // height: 100vh !important;
}

// .horizontal-scroll {
//   display: flex; /* Align items in a row */
//   overflow-x: auto; /* Enable horizontal scrolling */
//   white-space: nowrap; /* Prevent wrapping of items */
// }

// .chat-conversation-box {
//   margin-top: 0 !important; 
//   overflow-x: auto !important; /* Enable horizontal scrolling */
//   white-space: nowrap ; /* Prevent wrapping of items */
//   max-height: 100vh !important;
// }

// #content {
//   margin-top: 0px !important;
// }